extends base

block vars
  - var title = 'Dashboard';

block body
  .dashboard
    h1 Dashboard
    h2= 'Welcome ' + user.firstName
    .account
      .avatar 
        span= user.firstName[0] + user.lastName[0]
      p= user.firstName + ' ' + user.lastName
