extends base

block vars
  - var title = 'Home';

block body
  section
    h1 Welcome
    h1 to An Auth.
    p.description A tiny application about everything
    p you ever wanted to know about
    p authentication.
    a.cta(href="/login")
      button.login(type="button") Login
    a.cta(href="/register")
      button.register(type="button") Create account
