extends base

block vars
  - var title = 'Login';

block body
  section
    h1 Login to
    h1 your account.
    if error
      p.error #{error}
    else
      p.transparent placeholder
    form.stack(method="post")
      input(type="hidden", name="_csrf", value=csrfToken)
      label(for="email") Email
        input#email(type="email", name="email", required, autofocus)
      label(for="password") Password
        input#password.form-control(type="password", name="password", required)
      button(type="submit") Sign in
      a.authlink(href="/register") Don't have an account? Register here.
