extends base

block vars
  - var title = 'Register';

block body
  section
    h1 Create
    h1 your account.
    if error
      p.error #{error}
    form.stack(method="post")
      label(for="firstName") First Name
        input#firstName(type="text", name="firstName", required, autofocus)
      label(for="lastName") Last Name
        input#lastName(type="text", name="lastName", required, autofocus)
      label(for="email") Email
        input#email(type="email", name="email", required, autofocus)
      label(for="password") Password
        input#password(type="password", name="password", required)
      button(type="submit") Create account
      a.authlink(href="/login") Already have an account? Login here.
